a {
    text-decoration: none;
    color: rgb(34, 3, 49);
  }
a:hover{
  color: antiquewhite;
  
  
}
  
  .user {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.3);
    padding: 2rem 0.5rem 0;
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%px;
  }
  img:hover{
    transform: scale(1.5); 
  }
  .user:hover {
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease;
    transform: scale(1.02);
  }
  
  .imgBoX {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .avatar {
    border-radius: 50%;
    z-index: 2;
  }
  
  .imgBoX::before {
    content: " ";
    height: 130px;
    width: 130px;
    background: #0f4a74;
    position: absolute;
    border-radius: 50%;
  }
  
  .user h2 {
    color: #0f4a74;
  }
  
  
  
  .user p {
    text-decoration: none;
  }